* {
          margin: 0;
          padding: 0;
}
body {
          margin: auto;
          width: 75%;
          height: 75%;
          max-width: 60rem;
          font-family: 'Space Mono', monospace;
          font-family: 'Ubuntu', sans-serif;
          background-color: #e6e6e6;
          background-image: url('svartvitt2.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
          text-align: center;
          opacity: 0.95;
}
h2 {
          margin: 1%;
          text-align: left;
          color: #fff;
          font-size: 100%;
          border-radius: 20px 50px 30px;
          background: #333;
          padding: 10px;
          width: 25px;
          height: 20px;
}
h3,
p {
          padding: 1%;
          background-color: #111;
          color: #fff;
}
.img-me {
          width: 25%;
          height: auto;
          max-width: 100%;
          background-color: #000000;
          opacity: 0.5;
}
.img-me:hover {
          opacity: 1;
}
ul:active {
          top: 2px;
          left: 1px;
          box-shadow: none;
}
nav {
          margin: auto;
          background-color: #333;
}
a {
          display: inline-block;
          padding: 0.2em 1.45em;
          margin: 0.1em;
          color: #fff;
          text-decoration: none;
          font-size: 100%;
}
ul img {
          width: 75%;
          height: auto;
}
li {
          display: inline;
}
ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          background-color: #333;
}
.riktlinjer {
          color: #fff;
}
nav a:hover {
          background-color: #111;
          border-radius: 100px;
}
nav .nuvarande {
          background-color: #000000;
          border-radius: 100px;
}
.row {
          display: flex;
}
.column {
          width: 50%;
          height: 100vh;
}
.row:after {
          content: '';
          display: table;
          clear: both;
}
.box {
          width: 40%;
          text-align: center;
          margin: auto;
}
.button {
          font-size: 1em;
          padding: 10px;
          color: #fff;
          border: 2px solid;
          border-radius: 0px/50px;
          text-decoration: none;
          cursor: pointer;
}
.overlay {
          position: fixed;
          left: 0;
          top: 0;
          width: 100vw;
          height: 100%;
          background: rgba(0, 0, 0, 0.7);
          visibility: hidden;
          opacity: 0;
}
.overlay:target {
          visibility: visible;
          opacity: 1;
}
.popup {
          margin: 20% auto;
          padding: 10px;
          background: #fff;
          border-radius: 20px;
          width: 30%;
          position: relative;
}
.popup h3 {
          margin: 0;
          margin-top: 0;
          background: none;
          color: #333;
}
.popup .close {
          top: 5%;
          right: 6%;
          font-size: 75%;
          font-weight: bold;
          border-style: solid;
          border-radius: 5px;
          border-width: 1px;
          color: #333;
}
.popup .close:hover {
          color: #be0000;
}
.popup .content {
          max-height: 30%;
          overflow: auto;
}
.popup {
          width: 20%;
}
@media screen and (max-width: 700px) {
          body {
                    font-size: 80%;
          }
          .box {
                    width: 70%;
          }
          .popup {
                    width: 70%;
          }
          .row {
                    width: 100%;
                    display: block;
          }
}
@media print {
          img {
                    display: none;
          }
          body {
                    font-family: Georgia, Times, serif;
                    font-size: 10pt;
          }
          p {
                    color: black;
          }
}
footer p {
          background: none;
          color: #333;
          position: relative;
          left: 0;
          bottom: 0;
          width: 100%;
          font-size: 75%;
}
